<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>正在查看员工界面</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/hr_add.css"/>
</head>
<body>
<div class="container">
    <div class="row text-center divc mt-5">
        <div class="col-lg-3 col-sm-12 p-lg-5">
            <p><a href="/index" class="a">查询个人资料</a></p>
            <p><a href="/checkpwd" class="a">更改登录密码</a></p>
            <p><a href="/paylist" class="a">查询本月工资条</a></p>
            <p><a href="/hr_select" class="a">查询所有员工基本信息</a></p>
            <p><a href="/hr_add" class="a">录入新员工基本信息</a></p>
        </div>
        <div class="col-lg-9 col-sm-12 p-lg-5">
            <div class="text-center bg-transparent">
                <h4>录入新员工基本信息</h4>
            </div>
            <br>
            <form action="/hr_add" method="post" enctype="application/x-www-form-urlencoded">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">登录账号：</label>
                  <div class="col-sm-4">
                    <input type="text"  name="loginame" placeholder="请输入登录账号" class="form-control is-invalid" required>
                  </div>
                  <label class="col-sm-2 col-form-label">登录密码：</label>
                  <div class="col-sm-4">
                    <input type="password" name="pwd" class="form-control is-invalid" placeholder="请输入登录密码" required>
                  </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">员工姓名：</label>
                    <div class="col-sm-4">
                      <input type="text"  name="uname" placeholder="请输入员工姓名" class="form-control" required>
                    </div>
                    <label class="col-sm-2 col-form-label" for="">性&emsp;&emsp;别：</label>
                    <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" name="gender" id="">
                        <option value="1">男</option>
                        <option value="0">女</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">年&emsp;&emsp;龄：</label>
                    <div class="col-sm-4">
                      <input type="number"  name="age" placeholder="请输入员工年龄" class="form-control" required>
                    </div>
                    <label class="col-sm-2 col-form-label">出生日期：</label>
                    <div class="col-sm-4">
                      <input type="date" name="birthday" id="birthday" class="form-control" placeholder="请选择出生年月">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">身份证号：</label>
                    <div class="col-sm-4">
                      <input type="text"  name="personNum" maxlength="18" placeholder="请输入身份证号" class="form-control">
                    </div>
                    <label class="col-sm-2 col-form-label" for="">是否婚配：</label>
                    <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" name="isMarry" id="">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="">学&emsp;&emsp;历：</label>
                    <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" name="edu_id" id=""> 
                        <option value="1">高中</option>
                        <option value="2">大专</option>
                        <option value="3">本科</option>
                        <option value="4">硕士</option>
                        <option value="5">博士</option>
                    </select>
                    </div>
                    <label class="col-sm-2 col-form-label" for="">岗&emsp;&emsp;位：</label>
                    <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" name="port_id" id="">
                        <option value="1">普通员工</option>
                        <option value="2">行政主管</option>
                        <option value="3">财务总监</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">入职时间：</label>
                    <div class="col-sm-4">
                      <input type="date"  name="entryTime" id="entryTime" class="form-control">
                    </div>
                    <label class="col-sm-2 col-form-label" for="">在职状态：</label>
                    <div class="col-sm-4">
                    <select class="custom-select mr-sm-2" name="status" id="" required>
                        <option value="1">在职</option>
                        <option value="0">离职</option>
                    </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">现住居住地：</label>
                    <div class="col-sm-10">
                      <textarea type="text" name="address" id="" value="" placeholder="请输入居住地址" class="form-control"></textarea>
                    </div>
                </div>
                <input type="submit" value="提交" class="btn btn-success mt-3"/>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript" src="/script/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        var time = new Date();
        var day = ("0" + time.getDate()).slice(-2);
        var month = ("0" + (time.getMonth() + 1)).slice(-2);
        var today = time.getFullYear() + "-" + (month) + "-" + (day);
        $('#birthday').val(today);
        $('#entryTime').val(today);
    })
</script>
</body>
</html>